{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}



<!-- Collage de Imágenes -->
<section class="page-section collage">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-3">
        <img src="{% static 'core/img/plato1.jpg' %}" class="img-fluid collage-img" alt="Plato 1">
      </div>
      <div class="col-3">
        <img src="{% static 'core/img/plato5.jpg' %}" class="img-fluid collage-img" alt="Plato 5">
      </div>
      <div class="col-3">
        <img src="{% static 'core/img/plato9.jpg' %}" class="img-fluid collage-img" alt="Plato 9">
      </div>
      <div class="col-3">
        <img src="{% static 'core/img/plato21.jpg' %}" class="img-fluid collage-img" alt="Plato 21">
      </div>
    </div>
  </div>
</section>




<!-- Cabecera -->
<section class="page-section clearfix cabecera">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro.jpg' %}" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Déjate sorprender</span>
          <span class="section-heading-lower">Te gustará</span>
        </h2>
        <p class="mb-3">¡Visítanos en El Patio de San Rafael! Ofrecemos la mejor comida casera en un ambiente único y acogedor.<br> Cada rincón del lugar refleja el amor por la tradición chilena, brindando una experiencia que te hará sentir como en casa. La decoración incluye hermosas pinturas de flores, creadas por la dueña, Nancy Morales, convirtiendo el lugar en una galería de arte y creando un ambiente familiar. <br>Ya sea que vengas solo, en pareja o en familia, te encantará la experiencia. Si buscas comida auténtica y llena de sabor, te esperamos en San Rafael 335 para vivir un momento especial rodeado de calidez y buen sabor.
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-sm" href="{% url 'visita' %}">Visítanos</a>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Mensaje -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Compromiso total</span>
            <span class="section-heading-lower">Garantizado</span>
          </h2>
          <p class="mb-0">San Rafael es un lugar especial, y en El Patio de San Rafael estamos orgullosos de formar parte de esta comunidad. Nos comprometemos a mantener vivas las tradiciones de nuestra tierra, trabajando con productores locales para ofrecer ingredientes frescos y apoyar a los pequeños agricultores de la región. Queremos que cada plato sirva como un puente entre nuestros visitantes y la rica cultura de nuestra región, promoviendo una conexión auténtica con lo que representa la comida chilena.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
